body * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.25em;
  }
  
  img {
    width: 25%;
    display: block;
    margin: 10px auto;
    
  }
  header, footer , #skills, #experience, #education, #interests{
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
  }
  
  
  ul {
    list-style: decimal;
    list-style-position: inside;
  }